<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${apps}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">Index</h2>
				<p>
				<div sec:authorize="hasRole('administrador')">
					<a href="/triggertype/"><i class="fas fa-user-edit ml-2"></i>
						Go to trigger Type</a>
					</p>
				</div>

				<div sec:authorize="hasRole('operador')">
					<p>
						<a href="/triggerr/"><i class="fas fa-calendar ml-2"></i> Go
							to Triggerr</a>
					</p>
				</div>
				<div sec:authorize="hasRole('operador')">
					<p>
						<a href="/autotransition/"><i class="fas fa-calendar ml-2"></i>
							Go to Autotransition</a>
					</p>
				</div>
				<div sec:authorize="hasRole('operador')">
					<p>
						<a href="/userselect/"><i class="fas fa-calendar ml-2"></i> Go
							to User select</a>
					</p>
				</div>


				<div>
					<p>
						<a href="/logout"><i class="fas fa-sign-out-alt ml-2"></i> <b>Logout</b></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>