<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Edit doctype</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Edit documenttype</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#"
					th:action="@{/doctypes/edit-doctypes/{id}(id=${doctypes.doctypeId})}"
					th:object="${doctypes}" method="post">
					<div class="row">
					<input type="hidden" th:field="*{doctypeId}" class="form-control" id="doctypeId"
							placeholder="id">
						<div class="form-group col-md-6">
							<label for="name" class="col-form-label">Edit name</label> <input
								th:field="*{doctypeName}" class="form-control" id="doctypeName"
								placeholder="name" th:value="${doctypes.doctypeName}">
							<span th:if="${#fields.hasErrors('doctypeName')}"
								th:errors="*{doctypeName}" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="instInstId" class="col-form-label">Edit inst id</label> <input
								th:field="*{instInstId}" class="form-control"
								id="instInstId" placeholder="instInstId"
								th:value="doctypes.instInstId"> <span
								th:if="${#fields.hasErrors('instInstId')}"
								th:errors="*{instInstId}" class="text-danger"></span>
						</div>
						
						<div></div>
					</div>
					<div class="row">
						<div class="col-md-6 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="EDIT">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="CLEAR">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="CANCEL">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>